.book-card-container {
    background-color: #3b264290;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

.book-card-container:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.book-card-container img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
}

.book-card-container h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
    height: 45px;
    overflow: hidden;
    line-height: 1.2;
}

.book-card-container p {
    font-size: 0.95em;
    color: #555555;
    font-style: italic;
    margin-top: 5px;
}