.book-card-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    background-color: #3b264290;
}

.book-card-container img {
    height: 150px;
    width: 50%;
    object-fit: cover;
    border-radius: 3px;
}

h3 {
    font-size: 1.2em;
    margin: 10 0 5px 0;
    font-weight: bold;
}