/* index.css é utilizado para estilizações globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #1e0736 0%, #412a54 100%);
}